<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="DbType" value="mysql"/>
    <!--<add key="connectionString" value="Data Source=.;Initial Catalog=ch_uu;User ID=ch_uu;Password=ch123;Trusted_Connection=no;Min Pool Size=10;Max Pool Size=100;"/>-->
    <add key="connectionString" value="Data Source=121.199.34.41;port=8001;User ID=test;Password=123456;DataBase=test;Min Pool Size=10;Max Pool Size=100;"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
